/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~         Variables          ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

:root {
  // Colors
  --color-primary: #{$color-primary};
  --color-primary-dark: #{$color-primary-dark};
  --color-background: #{$color-background};
  --color-background-dark: #{$color-background-dark};
  --color-background-card: #{$color-background-card};
  --color-header-text: #{$color-header-text};
  --color-body-text: #{$color-body-text};
  --color-header-text-light: #{$color-header-text-light};
  --color-body-text-light: #{$color-body-text-light};
  --color-error: #{$color-error};
  --color-green: #{$color-green};
  --color-white: #{$color-white};

  // Typography
  --font-heading: #{$font-heading};
  --font-body: #{$font-body};

  // Spacing
  @each $name, $value in $spaces {
    --space-#{$name}: #{$value};
  }

  // Layout
  --container-max: #{$container-max};
  --container-padding: #{$container-padding};

  // Radius
  --radius-4: #{$radius-4};
  --radius-6: #{$radius-6};
  --radius-8: #{$radius-8};
  --radius-10: #{$radius-10};
  --radius-12: #{$radius-12};
  --radius-16: #{$radius-16};
  --radius-20: #{$radius-20};
  --radius-24: #{$radius-24};
  --radius-full: #{$radius-full};

  // Shadows
  --shadow-sm: #{$shadow-sm};
  --shadow-md: #{$shadow-md};
  --shadow-lg: #{$shadow-lg};

  // Transition
  --transition: #{$transition-base};
  --transition-slow: #{$transition-slow};
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~           Reset            ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    overflow-x: hidden;
  }
}

body {
  //   @include type-body;
  color: var(--color-body-text-light);
  background-color: var(--color-background-dark);
  font-family: var(--font-body);
  // overflow-x: hidden;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
select,
textarea {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-header-text-light);
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  11. My own items
*/
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none;
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~        Global Styles       ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

$fluid-headers: (
  h1: clamp(2.5rem, 5vw + 1rem, 4.5rem),
  h2: 1.25rem,
  h3: clamp(1.75rem, 3vw + 1rem, 2.5rem),
  h4: clamp(1.5rem, 2vw + 1rem, 2rem),
  h5: clamp(1.25rem, 1.5vw + 1rem, 1.5rem),
  h6: clamp(1rem, 1vw + 0.5rem, 1.25rem),
);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  text-transform: uppercase;
}

@each $tag, $clamp-value in $fluid-headers {
  #{$tag} {
    font-size: $clamp-value;
  }
}

h2 {
  font-weight: 400;
}

section {
  padding-block: clamp(
    var(--space-xl),
    3.0714rem + -1.1905vw,
    calc(var(--space-xl) * 1.25)
  );
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~         Utilities          ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

.container {
  width: 100%;
  margin-inline: auto; /* TODO: revisit if i like this*/
  max-width: var(--container-max);
  padding-inline: var(--container-padding);
}

.card {
  background-color: var(--color-background-card);
}

.card--inner {
  background-color: #202022;
  border: 1px solid #2e2e2e;
  border-radius: var(--radius-16);
}

/* Skip to main content link - accessible to keyboard users and screen readers */
// https://www.a11y-collective.com/blog/skip-to-main-content/
.skip {
  background-color: black;
  color: white;
  left: -9999px;
  opacity: 0; //Sets the link's opacity to 0, making it fully transparent and invisible.
  padding: 1rem 1.5rem;
  position: absolute; //Positions the link absolutely on the page, allowing it to be placed anywhere.
  z-index: 999; //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.

  &:focus {
    font-weight: 700;
    left: 50%; // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
    opacity: 1; //The link's opacity is set to 1, making it fully visible.
    outline: 2px solid black;
    outline-offset: 2px;

    transform: translateX(
      -50%
    ); //This centres the link horizontally by moving it back to the left by 50% of its own width.
  }
}
