---
import BaseLayout from "@layouts/BaseLayout.astro";
import CustomSelect from "@components/CustomSelect.astro";
const { defaultBase = "USD", defaultTarget = "EUR" } = Astro.props;
---

<BaseLayout pageTitle="Search">
  <section>
    <div class="container">
      <CustomSelect />
    </div>
  </section>
</BaseLayout>
