---
import FlagImage from "./FlagImage.astro";
---

<section
  class="compare"
  id="compare"
>
  <div class="container">
    <div class="card">
      <div class="top-row">
        <p>Multi-currency <span id="compare-amount">1,000 FROM USD</span></p>
        <p><span id="compare-pairs">8</span> PAIRS</p>
      </div>
      <ul id="comparison__list"></ul>
    </div>
  </div>
</section>
<script>
  import { FrankfurterAPI } from "@lib/frankfurter_api";
  import type { RateSummary } from "../types/fx";
  import { summarizeRates } from "@utils/fxUtils";
  import { convertAmount } from "@utils/fxMath";
  import currencies from "../data/currencies.json" with { type: "json" };

  const frankfurterAPI = new FrankfurterAPI();
  const form = document.getElementById("fx-input") as HTMLFormElement;
  const comparisonList = document.getElementById(
    "comparison__list",
  ) as HTMLElement;
  const baseAmount = document.getElementById("base-amount") as HTMLInputElement;
  const compareAmount = document.getElementById(
    "compare-amount",
  ) as HTMLElement;

  async function getComparisons() {
    const formData = new FormData(form);
    const base = formData.get("base")?.toString();
    const quotes = ["GBP", "JPY", "CHF", "CAD", "AUD", "INR", "CNY", "BDT"];

    if (!base) return;
    try {
      const data = await frankfurterAPI.fetchAllRates(base, quotes);
      const dailySummaries = summarizeRates(data);
      const listItems = dailySummaries.map((n) => {
        return createListItem(n);
      });
      listItems.forEach((item) => comparisonList.appendChild(item));
    } catch (error) {
      console.error(error);
    }
  }

  function createListItem(rateSummary: RateSummary): HTMLElement {
    const item = document.createElement("li");
    item.classList.add("comparison__item");
    item.classList.add("card--inner");
    const leftSide = document.createElement("div");
    leftSide.classList.add("left-side");
    const flag = document.createElement("img");
    flag.src = `/images/flags/${rateSummary.quote.slice(0, 2).toLowerCase()}.webp`;
    flag.alt = `${rateSummary.quote.slice(0, 2).toLowerCase()} flag`;
    flag.classList.add("flag");
    const currencyInfo = document.createElement("div");
    const currency = document.createElement("p");
    currency.textContent = rateSummary.quote;
    const currencyName = document.createElement("p");
    currencyName.textContent = getCurrencyName(rateSummary.quote);

    leftSide.appendChild(flag);
    currencyInfo.appendChild(currency);
    currencyInfo.appendChild(currencyName);
    leftSide.appendChild(currencyInfo);

    const rightSide = document.createElement("div");
    const rateInfo = document.createElement("div");
    const convertedAmount = document.createElement("p");

    const result = convertAmount(
      baseAmount.value === "" ? 0 : baseAmount.valueAsNumber,
      rateSummary.close,
    );
    convertedAmount.textContent = result.toLocaleString(undefined, {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    });
    const rate = document.createElement("p");
    rate.textContent = `@ ${rateSummary.close}`;
    const favoriteButton = document.createElement("button");

    rateInfo.appendChild(convertedAmount);
    rateInfo.appendChild(rate);
    rightSide.appendChild(rateInfo);
    rightSide.appendChild(favoriteButton);

    item.appendChild(leftSide);
    item.appendChild(rightSide);

    return item;
  }

  function getCurrencyName(currencyCode: string) {
    const currency = currencies.find((c) => c.iso_code === currencyCode);
    return currency ? currency.name : "";
  }

  const amount =
    baseAmount.value === ""
      ? "0"
      : baseAmount.valueAsNumber.toLocaleString(undefined, {
          minimumFractionDigits: 2,
          maximumFractionDigits: 2,
        });
  compareAmount.textContent = `${amount} FROM USD`;

  getComparisons();
</script>
<style lang="scss">
  .top-row {
    @include flex-between;
  }
</style>

<style lang="scss" is:global>
  .flag {
    block-size: 1.5rem;
    inline-size: 1.5rem;
  }

  .comparison {
    &__item {
      @include flex-between;
    }
  }

  .left-side {
    display: flex;
  }
</style>
