---
import FlagImage from "./FlagImage.astro";
---

<section
  class="compare"
  id="compare"
>
  <div class="container">
    <div class="card">
      <div class="top-row">
        <p>Multi-currency <span id="compare-amount">0.00 FROM USD</span></p>
        <p><span id="compare-pairs">8</span> PAIRS</p>
      </div>
      <ul id="comparison__list"></ul>
    </div>
  </div>
</section>

<style lang="scss">
  .top-row {
    @include flex-between;
  }
</style>

<style lang="scss" is:global>
  .flag {
    block-size: 1.5rem;
    inline-size: 1.5rem;
  }

  .comparison {
    &__item {
      @include flex-between;
    }
  }

  .left-side {
    display: flex;
  }
</style>
