---

---

<section
  class="compare"
  id="compare"
>
  <div class="container">
    <div class="card">
      <div class="top-row">
        <p>Multi-currency <span id="compare-amount">1,000 FROM USD</span></p>
        <p><span id="compare-pairs">8</span> PAIRS</p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .top-row {
    @include flex-between;
  }
</style>
