---
import FlagImage from "./FlagImage.astro";
---

<section
  class="compare"
  id="compare"
>
  <div class="container">
    <div
      class="card"
      id="compare-card"
    >
      <div class="top-row">
        <p>
          <span class="muted-text">MULTI-CURRENCY</span>
          <span id="compare-amount">0.00 FROM USD</span>
        </p>
        <p class="muted-text"><span id="compare-pairs">8</span> PAIRS</p>
      </div>
      <ul id="comparison__list"></ul>
    </div>
    <div class="empty-section">
      <h2>No comparison available</h2>
      <p>
        Enter an amount in SEND above to see what your money is worth in other
        currencies.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .card {
    display: grid;
    gap: 1.25rem;
    padding: 1.25rem;
  }
  .top-row {
    @include flex-between;
    span.muted-text {
      font-size: 14px;
    }
    p.muted-text {
      font-size: 12px;
    }
  }

  #comparison__list {
    display: grid;
    gap: 0.75rem;
  }
</style>

<style lang="scss" is:global>
  .flag {
    block-size: 1.5rem;
    inline-size: 1.5rem;
  }

  .comparison {
    &__item {
      @include flex-between;
    }
  }

  .left-side {
    display: flex;
    gap: 1.25rem;
    .muted-text {
      font-size: 12px;
    }
  }

  .right-side {
    display: flex;
    gap: 1.25rem;
    text-align: end;
    .muted-text {
      font-size: 10px;
    }
  }
</style>
