---
import FlagImage from "./FlagImage.astro";

interface Props {
  currencyCode: string;
  currencyName: string;
  defaultCode: string;
}

const { currencyCode, currencyName, defaultCode } = Astro.props;

const countryCode = `${currencyCode.slice(0, 2).toLowerCase()}`;
---

<option
  value={currencyCode}
  selected={currencyCode === defaultCode}
>
  <FlagImage countryCode={countryCode} />
  <span class="currency-code">{currencyCode}</span>
  <span class="currency-name">{currencyName}</span>
</option>

<style lang="scss">
  option {
    background: #202022;
    gap: 12px;
    padding-block: var(--space-sm);
    &::checkmark {
      color: var(--color-body-text-light);
      margin-left: auto;
      order: 2;
    }
  }

  .currency-code {
    color: var(--color-body-text-light);
    font-size: 14px;
  }

  .currency-name {
    color: #9d9d9d;
    font-size: 12px;
  }
</style>
