---
import FlagImage from "./FlagImage.astro";

interface Props {
  currencyCode: string;
  currencyName: string;
  defaultCode: string;
}

const { currencyCode, currencyName, defaultCode } = Astro.props;

const countryCode = `${currencyCode.slice(0, 2).toLowerCase()}`;
---

<div
  class="currency-option"
  data-value={currencyCode}
  data-selected={currencyCode === defaultCode}
>
  <FlagImage countryCode={countryCode} />
  <span class="currency-code">{currencyCode}</span>
  <span class="currency-name muted-text">{currencyName}</span>
</div>

<style lang="scss">
  .currency-option {
    align-items: center;
    background: var(--color-background-surface);
    display: flex;
    gap: var(--space-sm);
    padding-block: var(--space-sm);
    &::checkmark {
      color: var(--color-body-text);
      margin-left: auto;
      order: 2;
    }
  }

  .currency-code {
    color: var(--color-body-text);
    font-size: 14px;
  }

  .currency-name {
    font-size: 12px;
  }
</style>
