---

---

<section
  class="favorites"
  id="favorites"
>
  <div class="container">
    <div class="card">
      <h2>Pinned Pairs</h2>
      <ul class="favorites__list"></ul>
    </div>
  </div>
</section>

<script>
  import storageManager from "@lib/storageManager";

  const favoritesList = document.querySelector(
    ".favorites__list",
  ) as HTMLElement;

  function updateFavorites() {
    const favoritesArr = storageManager.getFavorites();
    if (favoritesArr && favoritesArr.length > 0) {
      favoritesList.replaceChildren();
      favoritesArr.map((favorite) => {
        const listItem = document.createElement("li");
        listItem.classList.add("card--inner");
        listItem.classList.add("favorites__item");
        const currencyPair = document.createElement("div");
        currencyPair.classList.add("item__currency-pair");
        currencyPair.innerHTML = `<p>${favorite.base}</p><span>-></span><p>${favorite.target}</p>`;
        listItem.appendChild(currencyPair);
        favoritesList.appendChild(listItem);
      });
    }
  }

  storageManager.addFavorite("USD", "EUR");
  storageManager.addFavorite("USD", "JPY");
  updateFavorites();
</script>

<style lang="scss" is:global>
  .favorites__item {
    @include flex-between;
  }
  .item {
    &__currency-pair {
      display: flex;
      gap: var(--space-sm);
    }
  }
</style>
