---
import HistoryChart from "./HistoryChart.astro";
---

<section
  class="history active"
  id="history"
>
  <div class="container">
    <div id="output-container">
      <div class="rate-display">
        <div class="row">
          <div class="rate-cards">
            <div class="card--inner">
              <h3>Open</h3>
              <p id="open-amount">0.0000</p>
            </div>
            <div class="card--inner">
              <h3>Close</h3>
              <p id="close-amount">0.0000</p>
            </div>
            <div class="card--inner">
              <h3>Change</h3>
              <p
                class=""
                id="change-amount"
              >
                0.0000
              </p>
            </div>
            <div class="card--inner">
              <h3>% Change</h3>
              <p
                class=""
                id="change-percentage"
              >
                0.00%
              </p>
            </div>
          </div>
          <div class="date-range-buttons muted-text">
            <button>1D</button>
            <button>1W</button>
            <button class="active">1M</button>
            <button>3M</button>
            <button>1Y</button>
            <button>5Y</button>
          </div>
        </div>
        <ul id="rate-list"></ul>
        <div class="card">
          <div class="top-row card__top-row">
            <h3 id="currency-pair">USD/EUR</h3>
            <p>
              <span id="conversion-rate">0.8530</span>
              <span class="divider"></span><span id="date-time">
                MAY 14 16:00 CET
              </span>
            </p>
          </div>
          <HistoryChart />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .rate-display {
    display: grid;
    gap: 1.25rem;
  }
  .rate-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @include bp(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .row {
    display: flex;
    flex-direction: column;

    @include bp(lg) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .date-range-buttons {
    align-self: flex-start;
    background-color: var(--color-background-card);
    border-radius: var(--radius-8);
    display: flex;
    padding: 2px;
    button {
      border-radius: var(--radius-8);
      display: flex;
      font-size: 12px;
      letter-spacing: 0.5px;
      line-height: 1.2;
      padding: 0.75rem 1rem;
      text-align: center;

      &.active,
      &:hover {
        background-color: var(--color-border);
      }
    }

    @include bp(lg) {
      align-self: unset;
    }
  }

  :global(#rate-list > li) {
    font-size: 12px;
  }

  .card {
    padding-block: clamp(
      var(--space-md),
      0.912rem + 0.3756vw,
      calc(var(--space-md) * 1.25)
    );

    padding-inline: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
  }

  .top-row {
    h3 {
      font-size: 1rem;
    }
    p {
      @include flex-center;
      gap: 1em;
      opacity: 0.7;
    }
  }

  .divider {
    background-color: var(--color-header-text-light);
  }
</style>
