---

---

<div>
  <canvas
    id="historyChart"
    role="img"
    aria-label="Exchange rate chart"
    aria-describedby="currency-pair conversion-rate date-time rate-cards"
  >
  </canvas>
</div>

<style lang="scss">
  div {
    min-height: 350px;
    width: 100%;
  }
</style>
