---

---

<form>
  <div class="form-group">
    <label for="base">Send</label>
    <input
      type="text"
      id="base"
      name="base"
      placeholder="USD"
    />
  </div>
  <div class="form-group">
    <label for="quote">Receive</label>
    <input
      type="text"
      id="quote"
      name="quote"
      placeholder="EUR"
    />
  </div>
</form>

<p>Output:</p>
<p id="output"></p>
