---

---

<section
  class="log"
  id="log"
>
  <div class="container">
    <div
      class="card"
      id="log-card"
    >
      <div class="top-row card__top-row">
        <h2>Conversion Log</h2>
        <div class="top-row__right-side">
          <p><span id="num-logged">0</span> Logged</p>
          <button
            type="button"
            class="btn"
            id="clear-log"
          >
            Clear All
          </button>
        </div>
      </div>
      <ul class="log__list"></ul>
    </div>
    <div class="empty-section">
      <h2>No conversions logged yet</h2>
      <p>
        Every conversion is recorded here automatically when you tap LOG
        CONVERSION. Your log is private to this session and this browser.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .top-row {
    flex-wrap: wrap;
    row-gap: 10px;
    h2 {
      flex-basis: 100%;
      @include bp(md) {
        flex: 1;
        flex-basis: unset;
      }
    }
    &__right-side {
      @include flex-between;
      flex: 1;
      gap: 1rem;
      @include bp(md) {
        @include flex-center;
        flex: unset;
      }
      p {
        font-size: 12px;
        opacity: 0.7;
        text-transform: uppercase;
      }
    }
  }
  .log__list {
    display: grid;
    gap: 0.75rem;
  }
</style>

<style lang="scss" is:global>
  .log__item {
    align-items: end;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr auto auto;
    justify-content: space-between;
    @include bp(md) {
      @include flex-center;
      gap: 1rem;
    }

    .btn--delete {
      color: var(--color-body-text);
      grid-row: span 2;
    }
  }

  .card--inner {
    padding-inline: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
  }

  .log-item {
    &__time-diff {
      grid-column: 1;
      grid-row: 1;
      width: 3rem;
    }

    &__currency-pair {
      display: flex;
      flex: 1;
      gap: var(--space-sm);
      grid-column: 1;
      grid-row: 2;
    }

    &__amounts {
      column-gap: calc(var(--space-md) * 1.25);
      display: flex;
      flex-direction: column;
      justify-self: center;
      grid-row: 1 / span 2;
      text-align: end;
    }
  }
</style>
