---

---

<section
  class="log"
  id="log"
>
  <div class="container">
    <div class="card">
      <div class="top-row">
        <h2>Conversion Log</h2>
        <div class="top-row__right-side">
          <p><span id="num-logged">0</span> Logged</p>
          <button
            type="button"
            class="btn btn--primary"
            id="clear-log"
          >
            Clear All
          </button>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</section>
