---

---

<section
  class="log"
  id="log"
>
  <div class="container">
    <div
      class="card"
      id="log-card"
    >
      <div class="top-row">
        <h2>Conversion Log</h2>
        <div class="top-row__right-side">
          <p><span id="num-logged">0</span> Logged</p>
          <button
            type="button"
            class="btn"
            id="clear-log"
          >
            Clear All
          </button>
        </div>
      </div>
      <ul class="log__list"></ul>
    </div>
    <div class="empty-section">
      <h2>No conversions logged yet</h2>
      <p>
        Every conversion is recorded here automatically when you tap LOG
        CONVERSION. Your log is private to this session and this browser.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .card {
    display: grid;
    gap: 1.25rem;
    padding: 1.25rem;
  }
  .top-row {
    @include flex-between;
    &__right-side {
      @include flex-center;
      gap: 1rem;
      p {
        opacity: 0.7;
        text-transform: uppercase;
      }
    }
  }
  .log__list {
    display: grid;
    gap: 0.75rem;
    margin-block-start: 1.25rem;
  }
</style>
<style lang="scss" is:global>
  .log__item {
    @include flex-between;
  }

  .log-item {
    &__currency-pair {
      display: flex;
      gap: var(--space-sm);
    }

    &__left-side {
      @include flex-center;
      gap: var(--space-md);

      & > p {
        width: 3rem;
      }
    }

    &__right-side {
      @include flex-center;
      gap: calc(var(--space-md) * 1.25);
      .right-side__content {
        @include flex-center;
        gap: calc(var(--space-md) * 1.25);
      }
    }
  }
</style>
