---

---

<section class="tab-switcher">
  <div class="container">
    <div class="tab-select">
      <select
        name="tab-select"
        id="tab-select"
      >
        <button class="select-button">
          <selectedcontent></selectedcontent>
        </button>
        <option value="history">HISTORY</option>
        <option value="compare">COMPARE</option>
        <option value="favorites">FAVORITES</option>
        <option value="log">LOG</option>
      </select>
    </div>
    <div class="tab-list">
      <button
        class="tab active"
        data-tab="history"
      >
        HISTORY
      </button>
      <button
        class="tab"
        data-tab="compare"
      >
        COMPARE
      </button>
      <button
        class="tab"
        data-tab="favorites"
      >
        FAVORITES<span id="favorite-counter">0</span>
      </button>
      <button
        class="tab"
        data-tab="log"
      >
        LOG<span id="log-counter">0</span>
      </button>
    </div>
  </div>
</section>

<style lang="scss">
  .tab-switcher {
    padding-block-end: 0;
  }
  .tab-list {
    border-bottom: 1px solid var(--color-border);
    @include bp(md) {
      display: flex;
      gap: var(--space-sm);
    }
  }

  .tab {
    display: flex;
    gap: var(--space-sm);
    min-height: 40px;

    &.active {
      @include bp(md) {
        border-bottom: 2px solid var(--color-primary);
      }
    }
  }

  #favorite-counter,
  #log-counter {
    @include flex-center;
    background-color: var(--color-primary-dark);
    border-radius: var(--radius-full);
    color: var(--color-primary);
    font-size: 10px;
    height: 1.25rem;
    line-height: 1;
    min-width: 1.25rem;
  }

  :root[data-theme="light"] {
    #log-counter,
    #favorite-counter {
      background-color: var(--color-primary);
      color: var(--color-text-on-primary);
    }
  }

  .tab-select {
    width: stretch;
  }

  select {
    background-color: var(--color-background-card);
    color: var(--color-body-text);
    width: stretch;
  }

  option {
    background: var(--color-background-card);
    color: var(--color-body-text);
    gap: 12px;
    padding-block: var(--space-sm);
    &::checkmark {
      display: none;
    }
  }
</style>
