---
import { Icon } from "astro-icon/components";
---

<section class="tab-switcher">
  <div class="container">
    <button id="tab-dropdown">
      <span id="current-tab">HISTORY</span>
      <Icon name="icon-dropdown" />
    </button>

    <div class="tab-list">
      <button
        class="tab active"
        data-tab="history"
      >
        HISTORY
      </button>
      <button
        class="tab"
        data-tab="compare"
      >
        COMPARE
      </button>
      <button
        class="tab"
        data-tab="favorites"
      >
        FAVORITES<span id="favorite-counter">0</span>
      </button>
      <button
        class="tab"
        data-tab="log"
      >
        LOG<span id="log-counter">0</span>
      </button>
    </div>
  </div>
</section>

<style lang="scss">
  .container {
    position: relative;
  }

  .tab-switcher {
    padding-block-end: 0;
  }

  #tab-dropdown {
    @include flex-between;
    background-color: var(--color-background-card);
    border-radius: var(--radius-8);
    gap: 1rem;
    min-height: 2.5rem;
    padding-inline: 0.75rem;
    width: 100%;
    @include bp(md) {
      display: none;
    }

    [data-icon] {
      transition: transform 0.3s;
    }
    &.open {
      [data-icon] {
        transform: rotate(180deg);
      }
    }
  }

  #current-tab {
    @include flex-between;
    width: 100%;
  }

  .tab-list {
    @include bp-max(md) {
      background-color: var(--color-background-card);
      display: none;
      left: 0;
      margin-top: 0.25rem;
      margin-inline: var(--container-padding);
      padding: var(--space-sm);
      position: absolute;
      right: 0;
      z-index: 900;

      &.active {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
      }
    }

    @include bp(md) {
      border-bottom: 1px solid var(--color-border);
      display: flex;
      gap: var(--space-sm);
    }
  }

  .tab {
    align-items: center;
    border-bottom: 2px solid transparent;

    display: flex;
    font-size: 1rem;
    gap: var(--space-sm);
    min-height: 40px;
    padding: 0 1rem;
    &.active {
      @include bp(md) {
        border-bottom-color: var(--color-primary);
      }
    }

    &:active {
      border-radius: var(--radius-4);
      box-shadow:
        0 0 0 2px var(--color-text-on-primary),
        0 0 0 4px var(--color-primary);
    }
  }

  #favorite-counter,
  #log-counter {
    @include flex-center;
    background-color: var(--color-primary-dark);
    border-radius: var(--radius-full);
    color: var(--color-primary);
    font-size: 10px;
    height: 1.25rem;
    line-height: 1;
    min-width: 1.25rem;
  }

  :root[data-theme="light"] {
    #log-counter,
    #favorite-counter {
      background-color: var(--color-primary);
      color: var(--color-text-on-primary);
    }
  }
</style>
