---

---

<section class="tab-switcher">
  <div class="container">
    <div class="tab-list">
      <p class="tab">HISTORY</p>
      <p class="tab">COMPARE</p>
      <p class="tab">FAVORITES<span id="counter">0</span></p>
      <p class="tab">LOG<span id="counter">0</span></p>
    </div>
  </div>
</section>
