---
import { Icon } from "astro-icon/components";
---

<button
  id="theme-toggle"
  class="btn"
  aria-label="Toggle theme"
>
  <div id="moon">
    <Icon
      name="icon-moon"
      height={20}
      width={20}
    />
    Dark
  </div>
  <div id="sun">
    <Icon
      name="icon-sun"
      height={20}
      width={20}
    />
    Light
  </div>
</button>

<script>
  const toggleBtn = document.getElementById(
    "theme-toggle",
  ) as HTMLButtonElement;

  toggleBtn.addEventListener("click", () => {
    const root = document.documentElement;
    const isLight = root.getAttribute("data-theme") === "light";

    if (isLight) {
      // Switch to Dark (Default)
      root.removeAttribute("data-theme");
      localStorage.setItem("theme", "dark");
    } else {
      // Switch to Light
      root.setAttribute("data-theme", "light");
      localStorage.setItem("theme", "light");
    }
  });
</script>

<style lang="scss">
  [data-icon="icon-sun"] {
    color: var(--color-primary);
  }
</style>
