---

---

<section class="ticker">
  <div class="container">
    <div class="title">
      <div></div>
      <h2>Live Markets</h2>
    </div>
    <div class="list-container">
      <ul class="ticker__list"></ul>
    </div>
  </div>
</section>

<script>
  import { FrankfurterAPI } from "@lib/frankfurter_api";
  import { summarizeRates } from "@utils/fxUtils";
  import currencies from "@data/currencies.json";

  const popularCurrencies = currencies.filter((c) => c.popular);
  const allCurrencies = currencies.map((c) => c.iso_code);
  const frankfurterAPI = new FrankfurterAPI();
  const tickerList = document.querySelector(".ticker__list") as HTMLElement;
  async function getRates(currency: string) {
    if (!currency || currency === "" || currency.length !== 3) return;
    try {
      const data = await frankfurterAPI.fetchAllRates(currency, allCurrencies);

      const dailySummaries = summarizeRates(data);

      const listItems = dailySummaries.map((n) => {
        const item = document.createElement("li");

        const currencyPair = document.createElement("span");
        currencyPair.className = "currency-pair";
        currencyPair.textContent = `${currency}/${n.quote}`;

        const currencyRate = document.createElement("span");
        currencyRate.className = "rate";
        currencyRate.textContent = `${n.close}`;

        const trend = document.createElement("span");
        trend.className =
          n.trend === "up" ? "positive" : n.trend === "down" ? "negative" : "";
        trend.textContent =
          n.trend === "up" ? "▲" : n.trend === "down" ? "▼" : "-";

        const percentChange = document.createElement("span");
        percentChange.className =
          n.trend === "up" ? "positive" : n.trend === "down" ? "negative" : "";
        percentChange.textContent = `${n.changePercent > 0 ? "+" : ""}${n.changePercent}%`;

        item.appendChild(currencyPair);
        item.appendChild(currencyRate);
        item.appendChild(trend);
        item.appendChild(percentChange);
        return item;
      });

      listItems.forEach((item) => tickerList.appendChild(item));
    } catch (error) {
      console.error(error);
    }
  }

  popularCurrencies.forEach((currency) => getRates(currency.iso_code));
</script>

<style lang="scss">
  .container {
    align-items: center;
    display: flex;
  }

  .title {
    align-items: center;
    background-color: var(--color-primary);
    display: flex;
    gap: var(--space-sm);
    place-content: center;
    height: stretch;
    padding: calc(var(--space-sm) * 1.5) var(--space-md);

    div {
      background: var(--color-background-dark);
      border-radius: var(--radius-full);
      height: 6px;
      width: 6px;
    }

    h2 {
      color: var(--color-header-text);
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 1.3;
      text-wrap: nowrap;
    }
  }

  .list-container {
    overflow: hidden;
    white-space: nowrap;
  }

  .ticker__list {
    animation: scroll-left 300s infinite linear;
    background: #202022;
    display: flex;
    width: max-content;
  }

  :global(.ticker__list > li) {
    background: #202022;
    border-right: 1px solid #2e2e2e;
    display: flex;
    font-size: 12px;
    gap: calc(var(--space-sm) + 2px);
    padding: calc(var(--space-sm) * 1.5);
  }

  :global(.ticker__list > li > span.currency-pair) {
    color: #9d9d9d;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
