---
import Font from "astro/components/Font.astro";
import "@styles/global.scss";
import Header from "@components/Header.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <script>
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: light)").matches
          ? "light"
          : "dark";
      };

      const isLight = getThemePreference() === "light";
      if (isLight) {
        document.documentElement.setAttribute("data-theme", "light");
      }
    </script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{pageTitle}</title>
    <!-- Fonts -->
    <Font
      cssVariable="--font-jetbrains-mono"
      preload
    />
  </head>
  <body>
    <!-- Screen reader skip main nav -->
    <a
      class="skip"
      aria-label="skip to main content"
      href="#main"
    >
      Click To Skip To Main Content
    </a>
    <Header />
    <button
      id="theme-toggle"
      aria-label="Toggle theme"
    >
      Swap Theme
    </button>
    <main id="main">
      <slot />
    </main>
    <!-- <Footer /> -->
    <script>
      const toggleBtn = document.getElementById(
        "theme-toggle",
      ) as HTMLButtonElement;

      toggleBtn.addEventListener("click", () => {
        const root = document.documentElement;
        const isLight = root.getAttribute("data-theme") === "light";

        if (isLight) {
          // Switch to Dark (Default)
          root.removeAttribute("data-theme");
          localStorage.setItem("theme", "dark");
        } else {
          // Switch to Light
          root.setAttribute("data-theme", "light");
          localStorage.setItem("theme", "light");
        }
      });
    </script>
  </body>
</html>
